*{
    margin: 0px;
    top: 0px;
    box-sizing: border-box;
    font-family: Noto music;
}

html, body {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color:#88A0A8;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #455761;
    align-items: center;
    float: left;

}

.icesi{
    display: flex;
    width: 30%;
    padding: 6%;
}

.menu{
    display: flex;
    width:  100%;
    height: 3cm;
    background-color: #455761;
    color: white;
    align-items: center;
    font-size: large;
    justify-content: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
  
.iconsSup {
    float: left;
    border-right:1px solid #bbb;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.filter{
    margin-top: 3%;
    margin-right: 7%;
    width: 20%;
    height: 70%;
    background-color: #DBD3C9;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #455761;

}

.content{
    margin-top: 3%;
    width: 60%;
    height: 95%;
    overflow: auto;
    background-color: #DBD3C9;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #455761;

}

.announcements{
    justify-content: center;
    width: 90%;
    height: 80%;
    align-items: center;
}

.scroll_bar{
    width: 100%;
    overflow: auto;
    max-height: 100%;
    padding-right: 2%;
    align-items: center;
    justify-content: center;
}


#foundStudents{
    grid-column: 1;
    margin-top: 1%;
}

.inputForm{
    background-color: #e9e1d8;
    border: none;
    height: 45%;
    border-radius: 10px;
    border:  solid #88a0a8;
    width: 100%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0.2, 0.2);

}

.inputForm option {
    color: rgb(134, 125, 125); 
}


::placeholder {
    color: rgb(134, 125, 125);

}


.button:hover{
    background-color: #455761;
    color: #DBD3C9;
}

.button{
    width: 100%;
    height: 60%;
    align-items: center; 
    border: none;
    background-color: #e9e1d8;
    box-shadow: 5px 10px 10px rgba(0, 0, 0.2, 0.2);
    border:0.5px solid #7d878b;
    color: #455761;
    transition-duration: 0.4s;
}

.alert {
    grid-row: 1;
    padding: 5px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
    grid-row: 1;
    width: 50%;
    height: 50%;
    
}

#myInput{
    background-color: #e9e1d8;
    border: none;
    height: 45%;
    border-radius: 10px;
    border:  solid #88a0a8;
    width: 100%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0.2, 0.2);
    grid-row: 1;
}

#myButtons{
    display: flex;
    flex-direction: column;
}

#myInput{
    width: 90%;
    height: 10%;
}

#skipButton{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
#formSkip{
    width: 70%;
    height: 10%;
    margin-top: 5%;
}











