@import url('contentColor.css');


#filter{
    width: 20%;
    height: 100%;
    margin-right: 5%;
    margin-left: 2.5%;
    background-color:#FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    color: #455761;
    overflow: hidden;
    object-fit: fill;
    box-shadow: 0px 4px 24px -4px rgba(0,0,0,0.3);
}

.content{
    height: 100%;
    width: 70%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 60%;
    height: 40%;
    align-items: center;
    background-color: #e9e1d8;
    box-shadow: 5px 10px 10px rgba(0, 0, 0.2, 0.2);
    border:0.5px solid #7d878b;
    color: #455761;
    transition-duration: 0.4s;
}


thead{
    background-color: #2D6A9F;
    color: white;
}

th, td {
	padding: 8px;
}


.bttnBox {
    width: 10%;
}

table {
    align-self: flex-start;
    width:100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle; 
    border-collapse:separate;
    border-radius:6px;
    box-shadow: 0px 4px 24px -4px rgba(0,0,0,0.3);
}

tbody tr:nth-child(odd) {
    background-color: #e3e1df;
}
  
tbody tr:nth-child(even) {
    background-color: #eee;
}
tbody{
    overflow-y: scroll;
}

.inFilt{
    margin-top:10%;
    margin-bottom: 5%;
}

.btnHolder{
    display: flex;
    flex-flow: column;
}

.btn{
    width: 50%;
}

#title{
    width: 80%;
    height: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #3A4459;
    overflow: hidden;
    object-fit: fill;
    box-shadow: 0px 4px 24px -4px rgba(0,0,0,0.3);
}

.container{
    flex-flow: column;
}
#info{
    display: flex;
    flex-flow: row;
    height: 80%;
    width: 90%;
}

.table{
    width:95%;
    height:100%;
}
