<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django CRUD Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href = "/">Home</a>
                </li>
                <li>
                    <a href = "/scholarships">Scholarships</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href = "/logout">Logout</a>
                </li>
                <li>
                    <a href = "/scholarships/create/">Create Scholarship</a>
                {% else %}
                <li>
                    <a href = "/signup">SignUp</a>
                </li>
                <li>
                    <a href = "/login">LogIn</a>
                </li>
                    <a href = "/announcement/create/">Create Announcement</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        
        {% block content %}
        {% endblock  %}

    </body>
</html>