<!DOCTYPE html>
{% load static %}

<head>
       
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'CSS/createApplicant.css' %}">
    {% block links %}
    {% endblock %}
    <title>
        Creación Aplicante
    </title>
</head>

    <body>
        <header>
            <img src="{% static './Icons/icesi.png' %}" class="icesi">
            <div class="menu">
                <ul>
                        <li><a href="/home"><i class="bi bi-house"></i>  Home</a></li>
                        <li><a href=""><i class="bi bi-cloud-arrow-up"></i>  Subir</a></li>
                        <li><a href="/logout"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
                </ul>              
            </div>  
          
        </header>

        <div id="content">
            
        
            <form action='/applicants/create/step2/' method = "POST" id="create1">
            <div class="container">

                <h2 id="registerApplicant">Registro del aplicante</h2>
                {% csrf_token %}
                {% for field in form %}
                   
                    <div id="id_{{forloop.counter}}" class="items">
                    
                        {{ field.label_tag }}<br>
                        {{ field }}
                    </div>
                
                    {% endfor %}
                
                    
                    <button id="save2" class="button">Guardar</button>
                <br>
               

            </form>
            
            <button class="button" id="backButton">Atrás</button>

            <script>
            document.getElementById("backButton").addEventListener("click", function() {
                history.back();
            });
            </script>
            </div>

            {% if error == ""%}
                    
            {% else %}
                <div class="alert" style="font-size: 85%;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>Advertencia</strong> {{error}}
                </div>
            {% endif%}    
               
        </div>  
    </body>

