{% extends 'base.html' %}

{% block content %}
<h1>Announcement register</h1>

{{error}}

<form action='/announcement/create/', method = 'POST'>

    {% csrf_token %} 
    
    {{announcementForm.as_p}}

    {{scholarshipAnnouncementForm.as_p}}
    
    <h2>Inscripciones</h2>

    {{announcementEventFormInscription.as_p}}

    <h2>Selección</h2>

    {{announcementEventFormSelection.as_p}}

    <h2>Entrevistas</h2>

    {{announcementEventFormInterview.as_p}}

    <h2>Publicación de beneficiarios</h2>

    {{announcementEventFormPublication.as_p}}


    <button>
        Save
    </button>
</form>



{% endblock  %}