{% extends 'base.html' %}

{% block content %}
<h1>Announcement register</h1>

{{error}}

<form action='/announcement/create/', method = 'POST'>

    {% csrf_token %} 


    <input type="hidden" name="title" value="{{ additionalEvents }}">

    <input type="hidden" class= list name="title2" value="{{ data }}">
    

    {{announcementForm.as_p}}

    {{scholarshipAnnouncementForm.as_p}}
    
    <h2>Inscripciones</h2>

    {{announcementEventFormInscription.as_p}}

    <h2>Selección</h2>

    {{announcementEventFormSelection.as_p}}

    <h2>Entrevistas</h2>

    {{announcementEventFormInterview.as_p}}

    <h2>Publicación de beneficiarios</h2>

    {{announcementEventFormPublication.as_p}}

    {% if additionalEvents != 0 %}

    {% for i in data %}
	
	    {{i.as_p}}

    {% endfor %}

    {% endif %}

    <input type="hidden" class= list name="title3" value="{{ data }}">


    <button name="newEventBttn" class="button">
        <h3>
            Add event
        </h3>
    </button>

    {% if additionalEvents != 0 %}

        <button name="deleteEventBttn" class="button">
            <h3>
                Delete event
            </h3>
        </button>

    {% endif %}
    
    <br>
    <br>

    <button name="saveBttn" class="button">
        <h3>
            Save
        </h3>
    </button>


</form>



{% endblock  %}