<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
       
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'CSS/homeApplicant.css' %}">
        <title>
            Home Applicant
        </title>
    </head>

        <div class="header">
            <div class="text">
                <h1>Página Principal aplicantes</h1>
            </div>
            <img src="{% static './Icons/icesi.png' %}" id="icesi" >
        </div>

    <body>

        <ul id="menu">
            <li id="options"><a class="active" href="#home">
                <img src="{% static './Icons/home50x50.png' %}">
            </a></li>
            <li id="options"><a href="#news">
                <img src="{% static './Icons/search50x50.png' %}">
            </a></li>
            <li id="options"><a href="#contact">
                <img src="{% static './Icons/share50x50.png' %}">
            </a></li>
            <li id="options"><a href="/logout">
                <img src="{% static './Icons/exit50x50.png' %}">
            </a></li>
        </ul>
        
        <div class="content">

            <div>

                <button id="welcome" class="buttons">
                    <h2>
                        Bienvenido {{user.name}}
                    </h2>
                </button>
                
                <button id="applicant" class="buttons">
                    
                    <h2>
                        GESTIÓN DE APLICANTES
                    </h2>
                    <p>
                        Edite y consulte a los aplicantes y añadalos dentro de las convocatorias
                    </p>
                </button>


                <button id="createApplicant" class="buttons">
                    <a href="/applicants/create/" style="color: inherit;text-decoration: none">
                        <h2>
                            REGISTRO DE APLICANTES
                        </h2>
                        <p>
                            Registre a los nuevos aplicantes
                        </p>
                    </a>
                </button>

                <button id="homee" class="buttons">
                    <a href="/home/" style="color: inherit;text-decoration: none">
                        <h2>
                            HOME
                        </h2>
                        <p>
                            Devolverse
                        </p>
                    </a>
                </button>

            </div> 

        </div>

        

    </body>
</html>
