{% extends 'base.html' %}

{% block content %}
<h1>Scholarships</h1>

<ul>
    {% for Scholarship in scholarships %}
        <li>
            <h2>Name: {{Scholarship.name}}</h2>
            <p>ID : {{Scholarship.ID}}</p>
            <p>Description: {{Scholarship.description}}</p>
            <p>Donor: {{Scholarship.donor}}</p>
            <p>Coverage: {{Scholarship.coverage}}</p>
            <p>Type: {{Scholarship.type}}</p>
            <p>Requirements: {{Scholarship.requirements}}</p>

        </li>
    {% endfor %}
</ul>
{% endblock  %}