<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicante</title>
</head>
<body>
    <h1>
        Aplicante
    </h1>
    {% for Applicant in applicant %}
    <li>
        <h2>
            Codigo: {{Applicant.studentCode}}
        </h2>
        <p>Nombre : {{Applicant.name}}</p>
        <p>Apellido : {{Applicant.lastName}}</p>
        <p>Escuela : {{Applicant.school}}</p>
    </li>
    {%endfor%}
</body>
</html>