{% extends "HTML/home.html" %}
{% load static %}

{% block links %}
    <title>
        Crear programa de becas
    </title>
{% endblock links %}

{% block filters %}
    <div class="meter">
        <span style="width: 25%; height: 100%;"></span>
    </div>
    

    <div id="title">
        <a href="/scholarships/" style="width:fit-content;" id="linkback">
            <button  style="align-items: center;" class="littleButton" type="button" style="width:100%;">
            <h1><i class="bi bi-caret-left-fill"></i></h1><h3>Regresar</h3>
        </button></a>
        <h1>Informacion basica de la Beca</h1>
    </div>
{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/createScholarship.css' %}">
        <title>Informacion basica de la Beca</title>
    </head>
    <div class = "content">
        {{error}}
        
        <form id= "create" action="/scholarships/create/" method = "POST" style="">
            {% csrf_token %}
            {% for field in form %}
            <div id="id_{{forloop.counter}}">
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            <button class="standardButton"><h3>Siguiente</h3></button>
        </form>
    </div>
{% endblock content %} 