{% extends 'HTML/searchDonor.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CSS/createType.css' %}">
    <title>Configuracion de coverturas</title>
{% endblock %}

{% block script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        class countC{
            static count = 0;
            constructor(){
              this.instanceId = ++countC.count;
            }
          }
    </script>
    <script>
        
        function cloneMore(selector, type) {
            console.log("aaaaaaaa");
            var newElement = $(selector).clone(true);
            var a = new countC();
            var total = a.instanceId;
            console.log(total);
            var newId = 't_'+(total+1);
            newElement.find(':input').each(function() {
                var name = $(this).attr('name');
                var id = ('id_' + name).replace('0', total);
                console.log('me cago en todo');
                if($(this).attr('type') === 'button'){
                    $(this).attr({'name': name, 'id': id, 'data-div':newId, style:'visibility:visible'});
                }
                else{
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                }
                
            });
            var oldId = 't_'+(total);

            newElement.attr({'id': newId});
            try{
                newElement.find("#td_" + '1').attr({'id':"td_" + (total+1)});
                newElement.find("#td_"+(total+1)).text(total+1);
                console.log(newElement.find("#td_"+(total+1)));
            }
            catch (e){
                console.log(e); 
            }
            
            $('tr.table:last').after(newElement);
            
        }
        function deleteMyself(id){
            $(id).remove();
        }
    </script>
{% endblock %}


{% block filters %}
    <div class="meter">
        <span style="width: 75%;"></span>
    </div>
{% endblock %}


{% block content %}
    <h1 id="title">Configuracion de coverturas</h1>
    
    <form id="forms" action="." method="POST">
        {% csrf_token %}
        <div id="holder">
            <table class='no_error'>
                <thead>
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Tipo</th>
                        <th scope="col"></th>
                    </tr>
                <tbody>
                    {% for form in forms.forms %}
                        <div>
                            <tr class='table'id = "t_{{ forloop.counter }}">
                                    <td scope="col" id = "td_{{forloop.counter}}">{{forloop.counter}}</td>
                                {% for field in form %}
                                    {% if forloop.counter != 4 %}                        
                                            <td scope = "col">{{ field }}</td>                          
                                    {% endif %}
                                {% endfor %}
                            <td>
                                <input type="button" id = "id_n_0" name = "n_0" value="Eliminar" class = "deleter" data-div="t_{{forloop.counter}}" style="visibility: hidden"></input>
                            </td>
                            <script>
                                $('.deleter').click(function(){
                                    console.log("pito");
                                    var div = $(this).attr('data-div');
                                    if(!(div === 't_1')){
                                        $('#'+div).remove();
                                        $(this).remove();
                                    }
                                });
                            </script>
                        </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input class="btn" type="button" value="Add More" id="add_more">
        <script>
            $('#add_more').click(function() {
                console.log(cloneMore); 
                cloneMore('tr.table:first', 'service');
                console.log("pito");
            });
        </script>
        <div id="corner">
            <button class="btn">Siguiente</button>
        </div>
        <input name="screen" value="types" style="visibility:hidden"></input>
    </form>
{% endblock %}
