{% extends "HTML/home.html" %}
{% load static %}

{% block links %}
    <title>
        Informacion basica de la Beca
    </title>
{% endblock links %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/createScholarship.css' %}">
        <title>Informacion basica de la Beca</title>
    </head>
    <div class = "content">
        {{error}}
        <h1>Informacion basica de la Beca</h1>
        <form id= "create" action="/scholarships/create/" method = "POST" style="">
            {% csrf_token %}
            {% for field in form %} 
                <div id="id_{{forloop.counter}}">
                    
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
            {% endfor %}
            <button id = "save">Save</button>
        </form>
    </div>
{% endblock content %} 