{% extends 'HTML/searchDonor.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CSS/createType.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'JS/dynamicTypes.js' %}"></script>
    <title>Configuracion de coverturas</title>
{% endblock %}


{% block filters %}
    <div class="meter">
        <span style="width: 75%;"></span>
    </div>
    <div id="title" style="flex-direction: row;">
        <button class="littleButton" style="align-items: center;" onclick="history.back()" type="button">
            <h1><i class="bi bi-caret-left-fill"></i></h1><h3>Regresar</h3>
        </button>
        <h1 id="title1">Configuracion de coverturas</h1>
    </div>
{% endblock %}


{% block content %}    
    <form id="forms" action="." method="POST">
        {% csrf_token %}
        <div id="holder">
            <table class='no_error'>
                <thead>
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Tipo</th>
                        <th scope="col"></th>
                    </tr>
                <tbody>
                    {% for form in forms.forms %}
                        <div>
                            <tr class='table'id = "t_{{ forloop.counter }}">
                                    <td scope="col" id = "td_{{forloop.counter}}">{{forloop.counter}}</td>
                                {% for field in form %}
                                    {% if forloop.counter != 4 %}                        
                                            <td scope = "col">{{ field }}</td>                          
                                    {% endif %}
                                {% endfor %}
                            <td>
                                <input type="button" id = "id_n_0" name = "n_0" value="Eliminar" class = "deleter" data-div="t_{{forloop.counter}}" style="visibility: hidden"></input>
                            </td>
                            <script>
                                $('.deleter').click(function(){
                                    console.log("pito");
                                    var div = $(this).attr('data-div');
                                    if(!(div === 't_1')){
                                        $('#'+div).remove();
                                        $(this).remove();
                                    }
                                });
                            </script>
                        </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input class="btn" type="button" value="Add More" id="add_more">
        <script>
            $('#add_more').click(function() {
                console.log(cloneMore); 
                cloneMore('tr.table:first', 'service');
                console.log("pito");
            });
        </script>
        <div id="corner">
            <button class="btn">Siguiente</button>
        </div>
        <input name="screen" value="types" style="visibility:hidden"></input>
    </form>
{% endblock %}
