{% extends "HTML/home.html" %}
{% load static %}

{% block links %}
    <title>
        Crear programa de becas
    </title>
{% endblock links %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/viewScholarship.css' %}">
        <title>Edición de programa de becas</title>
    </head>
    <div class = "content">
        {{error}}
        <h1>Editar programa de becas</h1>
        <form id= "edit" action="/scholarships/edit/" method = "POST" style="">
            {% csrf_token %}
            {% for field in form %}
            <div id="id_{{forloop.counter}}">
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            <button id = "save">Guardar</button>
        </form>
    </div>
{% endblock content %} 