{% extends 'HTML/home.html' %}

{% block links %}

{% endblock %}

{% block content %}

<div class="card" style="flex-direction: row;">
    <h1 id= "deletable">
        Bienvenido {{user.name}}
    </h1>
</div>

<div class="buttons">
    <button class="button">
        <a href = "/scholarships" style="color:inherit;text-decoration:none">
            <div style="font-size: x-large ;">
                GESTIÓN DE BECAS
            </div>
            <div style="font-size: medium;">
                Registre, edite y consulte programas de becas
            </div>
            <div style="font-size: xxx-large;">
                <i class="bi bi-award"></i>
            </div>
        </a>
    </button>
    
    <button class="button">
        <a href="/announcement/" style="color: inherit;text-decoration: none">
        <div style="font-size: x-large ;">
            GESTIÓN DE CONVOCATORIAS
        </div>
        <div style="font-size: medium;">
            Registre, edite, consulte y elimine cronogramas
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-megaphone"></i>
        </div>
        </a>
    </button>
    
    <button class="button">
        <div style="font-size: x-large ;">
            GESTIÓN DE INFORMES
        </div>
        <div style="font-size: medium;">
            Genere y envie reportes
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-journals"></i>
        </div>
    </button>
</div>

{% endblock%}