{% extends 'HTML/home.html' %}

{% block links %}

{% endblock %}

{% block content %}

<div class="buttons">
    <button class="button">
        <div style="font-size: x-large ;">
            GESTIÓN DE BECAS
        </div>
        <div style="font-size: medium;">
            Registre, edite y consulte programas de becas
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-award"></i>
        </div>
    </button>
    
    <button class="button">
        <div style="font-size: x-large ;">
            GESTIÓN DE CONVOCATORIAS
        </div>
        <div style="font-size: medium;">
            Registre, edite, consulte y elimine cronogramas
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-megaphone"></i>
        </div>
    </button>
    
    <button class="button">
        <div style="font-size: x-large ;">
            GESTIÓN DE ROLES
        </div>
        <div style="font-size: medium;">
            Asigne y actualice roles a los usuarios existentes en Banner
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-person-badge"></i>
        </div>
    </button>
    
    <button class="button">
        <div style="font-size: x-large ;">
            GESTIÓN DE INFORMES
        </div>
        <div style="font-size: medium;">
            Genere y envie reportes
        </div>
        <div style="font-size: xxx-large;">
            <i class="bi bi-journals"></i>
        </div>
    </button>
</div>

{% endblock%}