{% extends 'HTML/home.html' %}

{% block links %}

{% endblock %}

{% block content %}

<div class="card" style="flex-direction: row;">
    <h1 id= "deletable">
        Bienvenido {{user.name}}
    </h1>
</div>

<div class="buttons">
    <button class="button" >
        <a href="/applicants/create/" style="color: inherit;text-decoration: none">
            <div style="font-size: x-large ;">
                REGISTRO DE APLICANTES
            </div>
            <div style="font-size: medium;">
                Registre aplicantes a las convocatorias de becas
            </div>
            <div style="font-size: xxx-large;">
                <i class="bi bi-award"></i>
            </div>
        </a>
    </button>
    
    <button class="button">
        <a href="/searchStudent/" style="color: inherit;text-decoration: none">
            <div style="font-size: x-large ;">
                GESTIÓN DE APLICANTES
            </div>
            <div style="font-size: medium;">
                Gestione, consulte y añada aplicantes dentro de convocatorias
            </div>
            <div style="font-size: xxx-large;">
                <i class="bi bi-megaphone"></i>
            </div>
        </a>
    </button>
</div>

{% endblock%}