<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'CSS/loginSignin.css' %}">
        <title>
            Login
        </title>
    </head>

    <body>

        <div class="content">
            <div class="left">

                <img src="{% static './Icons/icesi.png' %}">
                <div style="margin-top: 10%;"></div>
                <div style="font-size: large;">
                    Todavía no tienes una cuenta en el sistema?
                    <br>
                    <div style="margin-top: 10%;"></div>
                    <div style="align-items: center;">
                        <button class="buttonWhite">
                            Registrate
                        </button>
                    </div>
                </div>
    
            </div>
    
            <div class="middle">
                <h1>Iniciar Sesión</h1>
                
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    <br>
                    <br>
                    {% endfor %}
                    </p>
                    
                    <button id="signin" class="buttonBlue">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
       
    </body>
</html>