<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
       
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
        {% block links %}
        {% endblock %}
        <title>
            Home
        </title>
    </head>

    <body>

        <header>
            <img src="{% static './Icons/icesi.png' %}" class="icesi">
            <div class="menu">
                <ul>
                    <li><a href="/home"><i class="bi bi-house"></i>  Home</a></li>
                    <li><a href="/logout"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
                </ul>              
            </div>    
        </header>

        <div class="container">
            <div class="content" style="background-color: white;">
                <h1>
                    Bienvenido {{user.name}}
                </h1>
                <br>
                <div style="font-size: large;">
                    Lo sentimos pero no tienes un rol asignado en la plataforma, comunicate con el administrador
                </div>
            </div>
        </div>

    </body>    

</html>