{% extends 'HTML/home.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'CSS/scholarships.css' %}">
    <script src="{%static 'JS/scholarshipFilter.js' %}"></script>
{% endblock %}



{% block filters %}
    <div id="title" style="flex-direction: row;">
        <h1 >Programas de Becas</h1>
    </div>
    <div id="info">
        <div id="filter">
            <h2>Filtros:</h2>
            <input type="text" id="name" onkeyup="nameSearch()" placeholder="Buscar por nombre" class="inFilt">
            <br><br>
            <input type="text" id="id" onkeyup="idSearch()" placeholder="Buscar por ID" class="inFilt">
            <br><br>
            <input type="text" id="donor" onkeyup="donorSearch()" placeholder="Buscar por Donate" class="inFilt">
            <br><br>
            <a href="/scholarships/create/" id="CreateButton" class="inFilt"><button> Crear programa de becas</button></a>
        </div>
{% endblock %}


{% block content %}
    <div class="table">
        <table id= "schTable">
            <thead> 
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">ID</th>
                    <th scope="col">Donante</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for Scholarship in scholarships %}
                    <tr>
                        <td scope="col">{{Scholarship.name}}</td>
                        <td scope="col">{{Scholarship.ID}}</td>
                        <td scope="col">{{Scholarship.donor_id}}</td>
                        <td scope="col" class="btnHolder">
                            <button value="{{Scholarship.ID}}" href="" class="btn">Ver mas</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}

{% block afterContent %}
</div>
{% endblock %}
