{% extends 'base.html' %}

{% block content %}
<h1>Scholarships</h1>

<ul>
    {% if user.is_authenticated %}
    <a href="/scholarships/create/"><button> Create Program </button></a>
    {% endif %}
    <br><br>
    <form id="search" action="/scholarships/" method="POST">
        {% csrf_token %}
        <input id="name" name="name" value="{{search_results}}"></input>
        <button>Search</button>
    </form> 
    <form id="filter" action="/scholarships/" method="GET">
        {% csrf_token %}
        <input id="id" name="id"></input>
        <input id="donor_id" name="donor_id"></input>
        <input id="min_cov" name="min_cov"></input>
        <input id="max_cov" name="max_cov"></input>
        <input id="type" name="type"></input>
        <button>Apply filters</button>
    
    {% for Scholarship in scholarships %}
        <li>
            <h2>Name: {{Scholarship.name}}</h2>
            <p>ID : {{Scholarship.ID}}</p>
            <p>Description: {{Scholarship.description}}</p>
            <p>Donor: {{Scholarship.donor_id}}</p>
            <p>Coverage: {{Scholarship.coverage}}</p>
            <p>Type: {{Scholarship.type}}</p>
            <p>Requirements: {{Scholarship.requirements}}</p>

        </li>
    {% endfor %}
</ul>
{% endblock  %}