{% extends 'HTML/home.html' %}
{% load static %}
{% load add1 %}
{% load index %}


{% block links %}
    <link rel="stylesheet" href="{% static 'CSS/summaryScreen.css' %}">
    <title>Resumen de beca</title>
{% endblock %}


{% block filters %}
    <div class="meter">
        <span style="width: 100%;"></span>
    </div>
    <div id="title" style="flex-flow: row;">
        <button class="littleButton" style="align-items: center;" onclick="history.back()" type="button">
            <h1><i class="bi bi-caret-left-fill"></i></h1><h3>Regresar</h3>
        </button>
        <h1>Resumen de beca</h1>
    </div>
    <div id="info">
{% endblock %}


{% block content %}
    <div id="summary">
        <div id = "baseData">
            <h2 style="text-align: center;">Información Basica</h2>
            <table>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col"><p id="ID">{{ID}}</p></th>
                </tr>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col"><p id="name">{{name}}</p></th>
                </tr>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col"><p id="desc">{{description}}</p></th>
                </tr>
                <tr>
                    <th scope="col">Requerimientos</th>
                    <th scope="col"><p id="req">{{requirements}}</p></th>
                </tr>
            </table>
        </div>
        <div id = "donorData">
            <h2 style="text-align: center;">Información del donante</h2>
            <table>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col"><p id="id_donor">{{donor.ID}}</p></th>
                </tr>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col"><p id="donor_name">{{donor.name}}</p></th>
                </tr>
            </table>
        </div>
    </div>  
    <form method = "POST">
        {% csrf_token %}
        <button class="standardButton" id="save"><h3>Guardar</h3></button>
        <input name="screen" value="summary" style="visibility:hidden"></input> 
    </form>
{% endblock %}

{% block afterContent %}
    <div id = "types">
        <div id="inner">
            <p id="warning">Advertencia: Tenga en cuenta que si requiere hacer cambios, solo el primer tipo es guardado</p>
            <table>
                {% for n in amount %}
                    <tr>
                        <th scope = "row"><h2>Tipo {{n|add1}}</h2></th>
                    </tr>
                    {% if types|index:0|index:n == '0'%}
                        <tr>
                            <th scope="col">Unidad</th>
                            <th scope="col"><p id="percentage">Porcentaje</p></th>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="col">Unidad</th>
                            <th scope="col"><p id="money">Dinero</p></th>
                        </tr>      
                    {% endif %}          
                    <tr>
                        <th scope="col">Valor</th>
                        <th scope="col"><p id="value">{{types|index:1|index:n}}</p></th>
                    </tr>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col"><p id="type">{{types|index:2|index:n}}</p></th>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}