<!DOCTYPE html>
{% load static %}

<html lang="es">

    <head>
       
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'CSS/reportGenerator.css' %}">

    </head>

    <body>

        <header>
            <img src="{% static './Icons/icesi.png' %}" class="icesi">
            <div class="menu">
                <ul>
                    <li><a href="/home"><i class="bi bi-house"></i>  Home</a></li>
                    <li><a href=""><i class="bi bi-cloud-arrow-up"></i>  Subir</a></li>
                    <li><a href="/logout"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
                </ul>              
            </div>    
        </header>

        
        <div class="container">

            <div class = "meter">
                <span style="width: 50%;"></span>
            </div>

            <div class="card">
                <h1>TIPO DE REPORTE</h1>
            </div>

            <br>
            
            <div class="content">
                
                <form method="POST" class="buttons">
                    {% csrf_token %}
                    <button class="bigButton" style="align-items: baseline;">
                        <div style="font-size: x-large ;">
                            RESUMEN GENERAL
                        </div>
                        <div style="font-size: medium;">
                            Gráficas y Datos generales acerca de todos los registros en el sistema
                        </div>
                        <div style="font-size: xxx-large;">
                            <i class="bi bi-award"></i>
                        </div>
                    </button>
                    
                    <button class="bigButton" style="align-items: baseline;">
                        <div style="font-size: x-large ;">
                            RESUMEN FILTRADO
                        </div>
                        <div style="font-size: medium;">
                            Gráficas y Datos generales acerca de los registros filtrados
                        </div>
                        <div style="font-size: xxx-large;">
                            <i class="bi bi-megaphone"></i>
                        </div>
                    </button>

                    <button class="bigButton">
                        <div style="font-size: x-large ;">
                            DATOS GENERALES
                        </div>
                        <div style="font-size: medium;">
                            Retorna un csv con todos los registros del objeto seleccionado
                        </div>
                        <div style="font-size: xxx-large;">
                            <i class="bi bi-megaphone"></i>
                        </div>
                    </button>

                    <button class="bigButton">
                        <div style="font-size: x-large ;">
                            DATOS FILTRADOS
                        </div>
                        <div style="font-size: medium;">
                            Retorna un csv con los registros filtrados del objeto seleccionado
                        </div>
                        <div style="font-size: xxx-large;">
                            <i class="bi bi-megaphone"></i>
                        </div>
                    </button>
                </form>
            </div>
        </div>

    </body>

</html>

<style>
    .meter > span {
    animation-name: rotate;
    animation-duration: 0.7s;
  }
  
  @keyframes rotate {
    0% {
      width: 25%;
    }
    100% {
      width: 50%;
    }
  }
</style>