<!DOCTYPE html>
{%load static%}

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'CSS/viewAnnouncement.css' %}">
    {% block links %}
    {% endblock %}
    <title>Información de la convocatoria</title>
</head>
<body>
    <header>
        <img src="{% static './Icons/icesi.png' %}" class="icesi">
        <div class="menu">
            <ul>
                    <li><a href="/home"><i class="bi bi-house"></i>  Home</a></li>
                    <li><a href=""><i class="bi bi-cloud-arrow-up"></i>  Subir</a></li>
                    <li><a href="/logout"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
            </ul>              
        </div>  
      
    </header>

    <div class="container">
        <div class="content">
            <h2>
                <b>Información de la convocatoria</b>
            </h2>
            <div class="infoAnnouncement">
                    <ul>
                        <li id="announcement_info">

                            
                            <p>
                                <b>Id:</b>
                                <br> 
                                {{announcementId}}
                            </p>

                            <p>
                                <b>Tipo:</b> 
                                <br>
                                {{type}}
                            </p>
                            
                            <p>
                                <b>Beca:</b> 
                                <br>
                                {{scholarship.name}}
                            </p>

                            <p>
                                <b>Status:</b>
                                <br>
                                {{status}}
                            </p>

                            <p>
                                <b>Archivado:</b>
                                <br>
                                {{archive}}
                            </p>


                            {%for event in events%}

                                <p>
                                    <b>{{event.type}}:</b>
                                    <br>
                                    {{event.startingDate}}
                                    <br>
                                    {{event.endDate}}
                                </p>

                            {%endfor%}
                        </li>
                        
                    </ul>
                
                
                <form method="POST">
                    
                    <div class="buttons">
                        
                        <button class="button" id="editBttn" value="" name="editBttn">
                            {% csrf_token %}
                            Editar
                        </button>
                        <button class="button" id="deleteBttn" value="" name="deleteBttn">
                            {% csrf_token %}
                            {{archiveBttn}}
                        </button>
                        <button class="button" id="reportBttn" value="" name="reportBttn">
                            {% csrf_token %}
                            Generar reporte
                        </button>
                    </div>
                </form>
                
            </div>
            
            
        </div>
        
    </div>
</body>
</html>