<!DOCTYPE html>
{%load static%}

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Noto Music' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'CSS/viewApplicant.css' %}">
    <link rel="icon" href="{% static './Icons/logo.png' %}">
    {% block links %}
    {% endblock %}
    <title>Información de aplicante</title>
</head>
<body>
    <header>
        <img src="{% static './Icons/icesi.png' %}" class="icesi">
        <div class="menu">
            <ul>
                    <li><a href="/home"><i class="bi bi-house"></i>  Home</a></li>
                    <li><a href="/logout"><i class="bi bi-box-arrow-left"></i>  Salir</a></li>
            </ul>              
        </div>  
      
    </header>

    <div class="container">

        <div class="card">
            <div style="width: 33.3%; ">
                <button type="submit" id="goBack" class="littleButton" >

                    <a href="/searchStudent" style="color: inherit;text-decoration: none; width: 100%; display: flex; ; align-items: center;">
                    <h1><i class="bi bi-caret-left-fill"></i></h1><h3>Regresar</h3>
                    </a>
                </button>
            </div>

            <div style="width: 33.3%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <h1 id= "deletable">
                    Perfil aplicante
                </h1>
            </div>

            <div style="width: 33.3%;"></div>
        </div>


        <div class="content">

            <div class="info_applicant">

                {%for Applicant in applicant%}
                    <ul id="applicant_info_list">
                        <li id="applicant_info">
                            <p class="textP">
                                <b>Nombre:</b>
                                <br> 
                                {{Applicant.name}}
                            </p>
                            <p class="textP">
                                <b>Apellido:</b> 
                                <br>
                                {{Applicant.lastName}}
                            </p>
                            <p class="textP">
                                <b>Código de estudiante:</b> 
                                <br>
                                {{Applicant.studentCode}}
                            </p>
                            <p class="textP">
                                <b>Facultad:</b>
                                <br>
                                {{Applicant.faculty}}
                            </p>
                            <p class="textP">
                                <b>Carrera:</b>
                                <br>
                                {{Applicant.major}}
                            </p>
                            <p class="textP">
                                <b>Semestre: </b>
                                <br>
                                {{Applicant.semester}}
                            </p>
                            <p class="textP">
                                <b>Electronico:</b> 
                                <br>
                                {{Applicant.email}}
                            </p>
                            <p class="textP">
                                <b>Telefono:</b>
                                <br>
                                {{Applicant.phone}}
                            </p>
                            <p class="textP">
                                <b>Estado</b>:
                                <br> 

                                {% if Applicant.status == 0 %}
                                    En revisión
                                {% elif Applicant.status == 1 %}
                                    Beneficiario
                                {% elif Applicant.status == 2 %}
                                    No aceptado
                                {% elif Applicant.status == 3 %}
                                    NA
                                {% endif %}
                            </p>
                            <p class="textP">
                                <b>Convocatoria:</b> 
                                <br>
                                {{announcement}}
                                
                            </p>
                        </li>
                        
                    </ul>
                    {% if Applicant.image != "" %}
                        <p id="title_image">
                            <b>Foto:</b> 
                            <br>
                            <img id="image" src="{{Applicant.image.url}}" />
                        </p>

                    {% else %}
                        <p id="title_image">
                            <b>Foto:</b> 
                            <br>
                            <img id="image" src="{% static './Icons/cam.png' %}" />
                        </p>
                    {% endif %}                  
                    


                <form method="POST" id="post_method">

                        <button class="button" id="edit" value="{{Applicant.studentCode}}" name="edit">
                            {% csrf_token %}
                            Editar
                        </button>

                        <button class="button" id="delete" value="{{Applicant.studentCode}}" name="delete">
                            {% csrf_token %}
                            Eliminar
                        </button>
                </form>


                {%endfor%}

                
            {% if error == ""%}
                    
            {% else %}
                <div class="alert" style="font-size: 85%; ">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>Advertencia</strong> {{error}}
                </div>
            {% endif%} 

            </div>
            
            
        </div>
        
    </div>

<script>
    function goBack() {
        window.history.back();
    }
</script>   


</body>
</html>